<style>
  [x-cloak] {
    display: none;
  }
</style>

{% assign menu_link_list = section.settings.menu.links %}

<div class="relative bg-white" x-data="{ isSearchOpen: false }">
  <div class="mx-auto px-4 sm:px-6">
    <div class="flex justify-center items-center py-6 md:justify-start md:space-x-10">
      <!-- STORE NAME / STORE LOGO -->
      <div class="flex justify-start lg:flex-1 truncate">
        <h1 class="text-xl font-bold truncate">{{ shop.name }}</h1>
      </div>

      <!-- NAVIGATION MENU -->
      <nav class="hidden md:flex space-x-10">
        {% for link in menu_link_list %}
          <div x-data="{ open: false }" class="relative">
            {% if link.links.size > 0 %}
              <button
                @click="open = !open"
                type="button"
                class="inline-flex items-center text-base text-gray-500 hover:text-gray-900">
                {{ link.title }} {% render 'icon-chevron-down' %}
              </button>

              <div
                @click.outside="open = false"
                x-show="open"
                style="display: none;"
                class="absolute z-10 ml-5 mt-5 transform px-2 w-screen max-w-md sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2">
                <div class="shadow-lg border ring-black ring-opacity-5 overflow-hidden rounded-lg">
                  <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">

                    {% for sublink in link.links %}
                      <a
                        href="{{sublink.url}}"
                        class="m-3 p-3 flex items start rounded-lg hover:bg-gray-100"
                        style="{% if link.active %}color: black{% endif %}">
                        <div class="ml-4">
                          <p class="text-gray-900 text-base font-medium">
                            {{ sublink.title }}
                          </p>
                        </div>
                      </a>
                    {% endfor %}
                  </div>
                </div>
              </div>

            {% else %}
              <a
                href="{{link.url}}"
                class="text-base text-gray-500 hover:text-gray-900"
                style="{% if link.active %}color: black{% endif %}">{{ link.title }}</a>
            {% endif %}

          </div>
        {%- endfor %}
      </nav>

      <div class="hidden md:flex items-center justify-end md:flex-1 space-x-5">
        <button class="whitespace-nowrap text-base text-gray-500 hover:text-gray-900" @click='isSearchOpen = true'>
          {% render 'icon-search' %}
        </button>

        <a href="{{routes.cart_url}}" class="relative whitespace-nowrap text-base text-gray-500 hover:text-gray-900">
          {% render 'icon-shopping-bag' %}

          {% if cart.item_count > 0 %}
            <div class="absolute -right-4 -top-4 flex justify-center items-center w-7 h-7 bg-black rounded-full">
              <span class="text-white text-sm">{{ cart.item_count }}</span>              
            </div>
          {% endif %}
        </a>

        {% if shop.customer_accounts_enabled %}
          <a href="{{routes.account_login_url}}" class="text-base text-gray-500 hover:text-gray-900">Login</a>
          <a href="{{routes.account_register_url}}" class="text-base text-gray-500 hover:text-gray-900">Register</a>
        {% endif %}
      </div>

      <div class="-mr-2 -my-2 ml-3 md:hidden" x-data="{ mobileMenuOpen: false }">
        <button
          @click='mobileMenuOpen = true'
          type="button"
          class="bg-white p-2 inline-flex items-center justify-center focus:outline-none">
          {% render 'icon-burger' %}
        </button>


        <!-- MOBILE MENU CONTAINER -->
        <div
          x-show="mobileMenuOpen"
          style="display: none;"
          class="absolute z-10 top-0 inset-x-0 p-2 transform origin-top-left md:hidden">
          <div class="shadow-lg rounded-lg ring-1 ring-black ring-opacity-5 bg-white w-full">
            <div class="p-5 divide-y-2 divide-gray-50">

              <!-- MOBILE MENU HEADER TITLE PLUS CLOSE BUTTON -->
              <div class="flex items-center justify-between pb-3">
                <div>
                  <h1 class="text-lg text-gray-500">{{ section.settings.menu_title }}</h1>
                </div>
                <div class="-mr-2">
                  <button
                    type="button"
                    class="bg-white rounded-md p-2 text-gray-500"
                    @click="mobileMenuOpen = false">
                    CLOSE
                  </button>
                </div>
              </div>

              <!-- NAVIGATION LINKS FOR MOBILE MENU -->
              <div class="pt-3" x-data="{ sublistIsOpen: false}">
                <nav class="grid gap-y-7">
                  {% for link in menu_link_list %}

                    {% if link.links.size > 0 %}
                      {% assign link_handle = link.handle %}

                      <div class="relative" x-data="{ {{link_handle}}: false}">
                        <button
                          type="button"
                          class="text-base text-gray-500 hover:text-gray-900 flex items-center justify-between w-full"
                          @click="{{link_handle}} = !{{link_handle}}">
                          <div class="flex items-center justify-between w-full">
                            {{ link.title }}
                            {% render 'icon-chevron-down' %}
                          </div>
                        </button>

                        <div
                          x-show="{{link_handle}}"
                          @click.outside="sublistIsOpen = false"
                          style="display: none;"
                          class="grid gap-y-7 py-3">
                          {% for sublink in link.links %}
                            <a href={{sublink.url}} class="-m-3 p-3 mt-2 flex items-center rounded-md text-gray-500 hover:text-gray-900 hover:bg-gray-50">
                              <span class="ml-3 text-base font-medium text-gray-500">{{ sublink.title }}</span>
                            </a>
                          {% endfor %}
                        </div>
                      </div>

                    {% else %}
                      <a href="{{link.url}}" class="-m-3 p-3 flex items-center rounded-md text-gray-500 hover:text-gray-900 hover:bg-gray-50">
                        {{ link.title }}
                      </a>
                    {% endif %}


                  {% endfor %}

                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="absolute left-0 top-0 w-full flex justify-center p-12 bg-white shadow-lg" x-show="isSearchOpen" x-cloak>
    <button class="absolute right-4 top-4 w-8 h-8 flex justify-center items-center" @click="isSearchOpen = false">
      {% render 'icon-close'  %}
    </button>

    <form action="{{ routes.search_url }}" class="flex gap-4 w-full md:w-96">
      <input type="search" name="q" class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-dashed focus:shadow-outline">
      <button class="whitespace-nowrap text-base text-gray-500 hover:text-gray-900">{% render 'icon-search' %}</button>
    </form>
  </div>

</div>

{% schema %}
  {
    "name": "Menu",
    "settings": [
      {
        "type": "text",
        "id": "menu_title",
        "label": "Menu title",
        "default": "Menu"
      }, {
        "type": "link_list",
        "id": "menu",
        "label": "memu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}