<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
{{ 'product.css' | asset_url | stylesheet_tag }}
<script src="{{ 'product.js' | asset_url }}" defer></script>

<style>
    .jdgm-widget .jdgm-rev-widg {
      max-width: 1152px;
      margin: 0 auto;
      padding-top: 60px;
  }

  .jdgm-widget .jdgm-write-rev-link {
    margin: 0;
    margin-left: auto;
  }

  @media (min-width: 992px) {
    body .jdgm-widget .jdgm-rev-widg__header .jdgm-row-stars {
      justify-content: space-between;
    }

    #judgeme_product_reviews .jdgm-row-stars .jdgm-rev-widg__summary,
    #judgeme_product_reviews .jdgm-row-stars .jdgm-widget-actions-wrapper {
      align-items: start;
      width: 100%;
    }

    #judgeme_product_reviews .jdgm-row-stars .jdgm-histogram {
      width: 100%;
    }
  }
</style>

{% assign selected_product = product.selected_or_first_available_variant %}
{% assign gallery = selected_product.metafields.custom.variant_gallery %}

<style>
  .jdgm-widget .jdgm-rev-widg {
    max-width: 1152px;
    margin: 0 auto;
    padding-top: 60px;
  }

  .jdgm-widget .jdgm-write-rev-link {
    margin: 0 0 0 auto;
  }

  @media (min-width: 992px) {
    body .jdgm-widget .jdgm-rev-widg__header .jdgm-row-stars {
      justify-content: space-between;
    }

    #judgeme_product_reviews .jdgm-row-stars .jdgm-rev-widg__summary,
    #judgeme_product_reviews .jdgm-row-stars .jdgm-widget-actions-wrapper {
      align-items: start;
      width: 100%;
    }

    #judgeme_product_reviews .jdgm-row-stars .jdgm-histogram {
      width: 100%;
    }
  }
</style>

<div class="max-w-6xl mx-auto mt-8 py-4 px-4">
  <div class="grid grid-cols-1 items-start md:grid-cols-2 gap-10">
    <div>
      <div class="swiper mySwiper2">
        <div class="swiper-wrapper" id="main-swiper-wrapper">
          {% if gallery.value %}
            {% for media in gallery.value %}
              <div class="swiper-slide aspect-square">
                {% render 'product-media', media: media %}
              </div>
            {% endfor %}

          {% else %}
            {% for media in product.media %}
              <div class="swiper-slide aspect-square">
                {% render 'product-media', media: media %}
              </div>
            {% endfor %}
          {% endif %}
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>

      <div thumbsSlider="" class="swiper mySwiper">
        <div class="swiper-wrapper">
          {% if gallery.value %}
            {% for media in gallery.value %}
              <div class="swiper-slide aspect-square">
                {% render 'product-media', media: media %}
              </div>
            {% endfor %}

          {% else %}
            {% for media in product.media %}
              <div class="swiper-slide aspect-square">
                {% render 'product-media', media: media %}
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>

    <div>
      {% form 'product', product, id: 'product-form', novalidate: 'novalidate' %}
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'vendor' %}
              <p class="text-gray-500">{{ product.vendor }}</p>

            {% when 'title' %}
              <h1 class="text-3xl font-bold mt-4">{{ product.title }}</h1>
              {{ product.metafields.judgeme.badge }}
            {% when 'price' %}
              <div class="flex gap-3 items-center mt-4" id="price-{{ section.id }}">
                {% if selected_product.compare_at_price %}
                  <span class="line-through">{{ selected_product.compare_at_price | money }}</span>
                {% endif %}

                <span class="font-bold">{{ selected_product.price | money }}</span>

                {% if selected_product.compare_at_price > selected_product.price %}
                  <span class="inline-block py-1 px-5 text-white text-sm bg-red-600 rounded-2xl">Sale</span>
                {% endif %}
              </div>

            {% when 'variants' %}
              <div class="mt-4">
                <input
                  type="hidden"
                  name="id"
                  value="{{ selected_product.id }}"
                >
                {% unless product.has_only_default_variant %}
                  <variant-selector data-url="{{ product.url }}" data-section="{{ section.id }}">
                    {% for option in product.options_with_values %}
                      <p class="mt-4">
                        <label
                          class="block text-gray-700 text-sm font-bold mb-2 text-left"
                          for="option-{{ forloop.index0 }}"
                        >
                          {{- option.name -}}
                        </label>

                        {% if option.values[0].swatch.color %}
                          <div class="flex gap-2">
                            {% for value in option.values %}
                              <div class="relative w-6 h-6">
                                <input
                                  type="radio"
                                  class="color-input variant-input w-6 h-6 rounded-full cursor-pointer"
                                  value="{{ value.name }}"
                                  name="{{ option.name }}"
                                  {% if option.selected_value == value.name %}
                                    checked
                                  {% endif %}
                                >

                                <div
                                  class="color-preview absolute inset-0 pointer-events-none w-6 h-6 rounded-full"
                                  style="
                                    background: {{ value.swatch.color }}"
                                  class="color-preview w-6 h-6 rounded-full"></div>
                              </div>

                            {% endfor %}
                          </div>

                        {% else %}
                          <select
                            class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-dashed focus:shadow-outline"
                            name="{{option.name }}"
                            id="option-{{ forloop.index0 }}"
                          >
                            {% for value in option.values %}
                              <option
                                value="{{ value }}"
                                {% if option.selected_value == value %}
                                  selected="selected"
                                {% endif %}
                              >
                                {{ value }}
                              </option>
                            {% endfor %}
                          </select>
                        {% endif %}
                      </p>

                      <script type="application/json">
                        {{ product.variants |  json }}
                      </script>

                      <script type="application/json" id="variant-galleries">
                        {
                          {% for variant in product.variants %}
                            "{{ variant.id }}":
                            {% if variant.metafields.custom.variant_gallery.value %}
                              {{ variant.metafields.custom.variant_gallery.value | map: 'src' | json }}
                              {% else %}
                                [
                                  {% for media in product.media %}
                                    "{{ shop.secure_url | append: '/cdn/shop/' | append: media }}"{% unless forloop.last %},{% endunless %}
                                  {% endfor %}
                                ]
                            {% endif %}{% unless forloop.last %},{% endunless %}
                          {% endfor %}
                        }
                      </script>
                    {% endfor %}
                  </variant-selector>
                {% endunless %}
              </div>

            {% when 'quantity' %}
              <p class="mt-4 w-20">
                <label class="block text-gray-700 text-sm font-bold mb-2 text-left" for="Quantity">Quantity</label>
                <input
                  class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-dashed focus:shadow-outline"
                  type="number"
                  id="Quantity"
                  name="quantity"
                  value="1"
                  min="1"
                >
              </p>

            {% when 'description' %}
              <p class="mt-4">
                {{ product.description }}
              </p>

            {% when 'add_to_cart' %}
              <button
                class="form-submit-btn bg-gray-900 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-4 disabled:bg-gray-500 disabled:pointer-events-none"
                type="submit"
                {% if selected_product.available == false %}
                  disabled
                {% endif %}
              >
                {% if selected_product.available == false %}
                  Sold out
                {% else %}
                  Add to cart
                {% endif %}
              </button>

            {% else %}

          {% endcase %}
        {% endfor %}
      {% endform %}
    </div>
  </div>

  <!-- Start of Judge.me code --> 
  <div id='judgeme_product_reviews' class='jdgm-widget jdgm-review-widget' data-id='{{ product.id }}'> 
    {{ product.metafields.judgeme.widget }} 
  </div> 
  <!-- End of Judge.me code -->

</div>

{% schema %}
{
  "name": "Product",
  "blocks": [
    {
      "type": "vendor",
      "name": "Vendor",
      "limit": 1
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1
    },
    {
      "type": "variants",
      "name": "Product variants picker",
      "limit": 1
    }, {
      "type": "quantity",
      "name": "Quantity",
      "limit": 1
    }, {
      "type": "description",
      "name": "Description",
      "limit": 1
    }, {
      "type": "add_to_cart",
      "name": "Add to cart",
      "limit": 1
    }
  ]
}
{% endschema %}
